@font-face {
	font-family: 'icomoon';
	src:url('fonts/sureflap-icn.eot?-5ya7ay');
	src:url('fonts/sureflap-icn.eot?#iefix-5ya7ay') format('embedded-opentype'),
		url('fonts/sureflap-icn.ttf?-5ya7ay') format('truetype'),
		url('fonts/sureflap-icn.woff?-5ya7ay') format('woff'),
		url('fonts/sureflap-icn.svg?-5ya7ay#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^=""], [class*=" "] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i.sf.accessories:before {
	content: "\e600";
}
i.sf.microchip-compatible:before {
	content: "\e601";
}
i.sf.manual-lock:before {
	content: "\e602";
}
i.sf.scans-both-ways:before {
	content: "\e603";
}
i.sf.safety-mode:before {
	content: "\e604";
}
i.sf.set-permissions:before {
	content: "\e605";
}
i.sf.outside:before {
	content: "\e606";
}
i.sf.relaxed-cat:before {
	content: "\e607";
}
i.sf.save-money:before {
	content: "\e608";
}
i.sf.installs-into:before {
	content: "\e609";
}
i.sf.minimum-quantity:before {
	content: "\e60a";
}
i.sf.pos-promotions:before {
	content: "\e60b";
}
i.sf.child-friendly:before {
	content: "\e60c";
}
i.sf.stops-stealing-food:before {
	content: "\e60d";
}
i.sf.pets-2:before {
	content: "\e60e";
}
i.sf.safety-mode:before {
	content: "\e60f";
}
i.sf.curfew-mode:before {
	content: "\e610";
}
i.sf.pets:before {
	content: "\e611";
}
i.sf.large-cats-dogs:before {
	content: "\e612";
}
i.sf.scans-both-ways:before {
	content: "\e613";
}
i.sf.selective-entry:before {
	content: "\e614";
}
i.sf.manual-lock-old:before {
	content: "\e615";
}
i.sf.set-permissions:before {
	content: "\e616";
}
i.sf.one-button:before {
	content: "\e617";
}
i.sf.low-battery-indicator:before {
	content: "\e618";
}
i.sf.racoon-safe:before {
	content: "\e619";
}
i.sf.cross-red:before {
	content: "\e61a";
}
i.sf.cross:before {
	content: "\e61b";
}
i.sf.arrow-s:before {
	content: "\e61c";
}
i.sf.arrow-l:before {
	content: "\e61d";
}
i.sf.arrow-m:before {
	content: "\e61e";
}
i.sf.url:before {
	content: "\e61f";
}
i.sf.highmargin:before {
	content: "\e620";
}
i.sf.phone:before {
	content: "\e621";
}
i.sf.email:before {
	content: "\e622";
}
i.sf.tick:before {
	content: "\e623";
}
i.sf.freeshipping:before {
	content: "\e624";
}
i.sf.collartag:before {
	content: "\e625";
}
i.sf.dualscan:before {
	content: "\e626";
}
i.sf.worldwide-support:before {
	content: "\e627";
}
i.sf.add-pet:before {
	content: "\e628";
}
i.sf.intruder-animals:before {
	content: "\e629";
}
i.sf.aa-batteries:before {
	content: "\e62a";
}
i.sf.c-batteries:before {
	content: "\e62b";
}
i.sf.weight-mgmt:before {
	content: "\e62c";
}
i.sf.perscription-diet:before {
	content: "\e62d";
}
i.sf.fresher-longer:before {
	content: "\e62e";
}
i.sf.no-flys:before {
	content: "\e62f";
}
i.sf.no-odour:before {
	content: "\e630";
}
i.sf.multi-pet:before {
	content: "\e631";
}
i.sf.largeplay-button:before {
	content: "\e632";
}
i.sf.comingsoon-button:before {
	content: "\e633";
}
i.sf.learn:before {
	content: "\e634";
}
i.sf.battery-life:before {
	content: "\e635";
}
i.sf.locator:before {
	content: "\e636";
}
i.sf.downloads:before {
	content: "\e637";
}
i.sf.sureflap-life-gift:before {
	content: "\e638";
}
i.sf.sureflap-life-house:before {
	content: "\e639";
}
i.sf.sureflap-life-hear:before {
	content: "\e63a";
}
i.sf.bundles:before {
	content: "\e63b";
}
i.sf.colours:before {
	content: "\e63c";
}
i.sf.tech-specs:before {
	content: "\e63d";
}
i.sf.gallery:before {
	content: "\e63e";
}
i.sf.features:before {
	content: "\e63f";
}
i.sf.reviews:before {
	content: "\e640";
}
i.sf.dimensions:before {
	content: "\e641";
}
i.sf.installation:before {
	content: "\e642";
}
i.sf.accessories:before {
	content: "\e643";
}
i.sf.life-with-sureflap:before {
	content: "\e644";
}
i.sf.how-it-works:before {
	content: "\e645";
}
i.sf.buy-button-2:before {
	content: "\e646";
}
i.sf.buy-button:before {
	content: "\e647";
}
i.sf.petdoor-icn:before {
	content: "\e648";
}
i.sf.catflap-icn:before {
	content: "\e649";
}
i.sf.motion-feeder-icn:before {
	content: "\e64a";
}
i.sf.dualscan-icn:before {
	content: "\e64b";
}
i.sf.microchip-feeder-icn:before {
	content: "\e64c";
}
i.sf.youtube:before {
	content: "\e64d";
}
i.sf.instagram:before {
	content: "\e64e";
}
i.sf.twitter:before {
	content: "\e64f";
}
i.sf.facebook:before {
	content: "\e650";
}
i.sf.paw-empty:before {
	content: "\e651";
}
i.sf.paw-full:before {
	content: "\e652";
}
i.sf.left-happypet-arrow:before {
	content: "\e653";
}
i.sf.right-happypet-arrow:before {
	content: "\e654";
}
i.sf.cta-arrow:before {
	content: "\e655";
}
i.sf.play-video:before {
	content: "\e656";
}
i.sf.more-arrow:before {
	content: "\e657";
}
i.sf.shopping-cart:before {
	content: "\e658";
}
i.sf.sureflap-logo:before {
	content: "\e659";
}
